<%-include("partials/header.ejs")-%>
<main class="page-content">
  <section class="section-bottom-65 section-top-34 section-md-top-0">
    <div class="shell shell-wide">
      <div class="page-counter page-counter-bottom-5">
        <!-- <img class="img-responsive center-block" src="images/about-01.png" alt=""> -->
      </div>
      <div class="range range-xs-center offset-top-0 offset-md-top-40">
        <div class="cell-md-7">
          <h4>A few words about us</h4>
          <p>
            Wardha Dog Rescue provides food, sanctuary and medical aid to the
            strays in Wardha District and educates the public about stray dog
            issues through innovative storytelling and campaigning to foster a
            positive attitude towards these animals. We have over 80 rescued
            dogs. We also provide food, shelter, and medical assistance to over
            50 dogs in Sawangi.
          </p>
          <h4>Our Mission</h4>
          <p class="offset-top-26">
            To provide food, sanctuary and medical assistance to 10,000 dogs in
            Wardha District by 2025 and reach over a billion people by
            leveraging print and social media to educate them on the realities
            of life on the streets for stray dogs and create a new understanding
            of stray dogs and the issues surrounding them.
          </p>

          <h4>Our Vision</h4>
          <p class="offset-top-26">
            A world where stray dogs live and die with dignity.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="section-title section-title-left" data-title="welcome">
    <div class="shell shell-wide section-92 section-lg-bottom-148 bg-img-02">
      <hr class="divider" />
      <h4>Our Projects</h4>
      <div
        class="range-xs-center range-lg-left range text-left offset-top-40 offset-lg-top-80"
      >
        <div class="cell-sm-preffix-1 cell-xs-11 cell-md-12 cell-xl-6">
          <ul class="list-index list-index-variant-1">
            <li>
              <h6 class="text-primary">
                <span class="list-index-counter"></span>What are our projects?
              </h6>
              <div class="list-index-inset">
                <p class="offset-top-0">
                  &#x2022; Animal Birth Control for 5,000 dogs in Wardha <br />
                  &#x2022; Vaccination Drive for the Dogs in Sawangi <br />
                  &#x2022; Feeding Drive for 3,000 dogs in Sawangi <br />
                  &#x2022; 24/7 Animal Ambulance Service <br />
                  &#x2022; Dead Animal Burial Service and portable incinerators
                  <br />
                  &#x2022; Canine Viral Disease Treatment Center <br />
                  &#x2022; Multispecialty Animal Hospital in Vidarbha <br />
                  &#x2022; Sanctuary in Sewagram for old, permanently injured
                  and differently-abled dogs <br />
                  &#x2022; Medicine Bank and Emergency Medical Reserve Funds for
                  street dogs <br />
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="section-title section-title-left" data-title="welcome">
    <div class="shell shell-wide section-92 section-lg-bottom-148 bg-img-02">
      <hr class="divider" />
      <h4>Future Plans</h4>
      <div
        class="range-xs-center range-lg-left range text-left offset-top-40 offset-lg-top-80"
      >
        <div class="cell-sm-preffix-1 cell-xs-11 cell-md-12 cell-xl-6">
          <ul class="list-index list-index-variant-1">
            <li>
              <h6 class="text-primary">
                <span class="list-index-counter"></span>What are our future
                plans?
              </h6>
              <div class="list-index-inset">
                <p class="offset-top-0">
                  &#x2022; Multispecialty animal hospital in Vidarbha<br />
                  &#x2022; Farm animal sanctuary<br />
                  &#x2022; Aviary for rescued birds<br />
                  &#x2022; Build an organized network of animal activists and
                  fundraisers in Wardha District <br />
                  &#x2022; Establish the largest Animal Welfare Fund in India<br />
                  &#x2022; Activism hub in Wardha District<br />
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section
    class="section-bottom-80 section-title section-title-right"
    data-title="dogs for sale"
  >
    <div class="shell shell-wide section-65 section-lg-bottom-122 bg-mocos">
      <div class="page-counter page-counter-bottom-6 page-counter-sisal">
        <!-- <img class="img-responsive center-block" src="images/about-07.png" alt=""> -->
      </div>
      <hr class="divider offset-lg-top-54" />
      <h5>Our Team</h5>
      <div class="range text-md-left offset-top-54">
        <div class="cell-md-preffix-1 cell-xl-9 cell-md-10">
          <div class="range">
            <div class="cell-md-12 cell-sm-6">
              <!-- <div class="inset-lg-right-14p"> -->
              <div class="">
                <h6>Manisha Hariharan – Founder</h6>
                <p class="small">
                  Entrepreneur and animal activist with over 10 years of
                  experience in business and even longer in animal welfare,
                  Manisha Hariharan is skilled in multiple lines of work in the
                  realms of travel, training, recruitment, sales, transcription
                  and editing. She currently runs a language solutions firm and
                  founded Wardha Dog Rescue as an expression of her passion for
                  both business and animals. A former People for Animals member
                  and volunteer, she is coached and guided by Mrs. Maneka
                  Gandhi. She has rescued and rehabilitated hundreds of animals
                  over her lifetime. While volunteering with PFA Wardha, she
                  handled corporate and media communications, drafted project
                  proposals, press releases, newsletters, annual reports and
                  content for promotional material. She authored a column called
                  “Animals And All” on animal welfare and related issues in
                  Vidarbha Herald, a weekly newspaper based in Chandrapur. She
                  was also a guest blogger at People for Animals. She has
                  liaisoned with government officials and politicians, raised
                  funds for key projects such as Animal Birth Control Program,
                  Goshala and Wildlife Enclosures, organized first aid camps,
                  workshop for SHARAN India in association with People for
                  Animals and Department of Obstetrics, JNMC, Datta Meghe
                  Institute of Medical Sciences. She co-ordinated BBD Event (Big
                  Bird Day) jointly with Delhi birders and launched public
                  awareness campaigns on street dogs. Her endeavor is to build
                  cruelty-free businesses to set up the largest Animal Welfare
                  Fund in India and the business community to further the cause
                  of animal welfare.
                </p>
              </div>
            </div>
            <div class="cell-md-12 cell-sm-6 offset-top-40 offset-sm-top-0">
              <div class="">
                <h6>Jigna Keshav - Trustee</h6>
                <p class="small">
                  Jigna Keshav is an alumni of Tata Institute of Social
                  Sciences, having completed her Masters in Social work in 2009.
                  She has worked extensively in the field of health and
                  education, in both urban and rural areas in the past decade
                  and continues to do so. She is passionate about environment
                  issues and strives to maintain a minimalist and vegan
                  lifestyle. She works for the stray animals at her native place
                  Navsari, Gujarat and is an idealist who believes that someday,
                  these animals would have a happy existence with us. She has
                  been the greatest support for Wardha Dog Rescue and a
                  confidante.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section
    class="section-bottom-80 section-title section-title-right"
    data-title="dogs for sale"
  >
    <div class="shell shell-wide section-65 section-lg-bottom-122 bg-mocos">
      <div class="page-counter page-counter-bottom-6 page-counter-sisal">
        <!-- <img class="img-responsive center-block" src="images/about-07.png" alt=""> -->
      </div>
      <hr class="divider offset-lg-top-54" />
      <h5>Our Partners</h5>
      <div class="range text-md-left offset-top-54">
        <div class="cell-md-preffix-1 cell-xl-9 cell-md-10">
          <div class="range">
            <div class="cell-md-12 cell-sm-6">
              <!-- <div class="inset-lg-right-14p"> -->
              <div class="">
                <h6>Our Funding Partners</h6>
                <p class="small">To Be Added soon</p>
              </div>
            </div>
            <div class="cell-md-12 cell-sm-6 offset-top-40 offset-sm-top-0">
              <div class="">
                <h6>Our Local NGO Partners</h6>
                <p class="small">
                  People for Animals Wardha unit is an oasis for animals in
                  central Maharashtra. It was registered as a charitable trust
                  in 2000, and is recognized by the AWBI. The organization runs
                  an animal shelter and a wildlife rescue and rehabilitation
                  center recognized by the Central Zoo Authority. Karunashram,
                  the animal shelter spread over 15 acres is testimony to their
                  commitment to Baba’s message. The facility is permanent home
                  for numerous cattle, dogs, pigs, and other street animals who
                  are unable to fend for themselves. <br />
                  PFA Wardha is the authorized NGO for Animal Birth Control
                  program with the Wardha Municipality. With more than 10,000
                  successful ABC surgeries till date, PFA Wardha has set the
                  benchmark for effective ABC in the state.<br />
                  PFA Wardha actively engages with the local forest department
                  to rescue and rehabilitate wild animals in distress. Their
                  expertise in the field has received the stamp of approval from
                  the CZA recently. After treatment, the animals are handed over
                  to the officials for rehabilitation in the wild. Presently,
                  the center has nilgai (blue bull), barn owls, snakes, civets
                  and peafowl undergoing treatment. <br />
                  We are indebted to them for use of their facilities and
                  inputs.<br />
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section
    class="section-bottom-80 section-title section-title-right"
    data-title="dogs for sale"
  >
    <div class="shell shell-wide section-65 section-lg-bottom-122 bg-mocos">
      <div class="page-counter page-counter-bottom-6 page-counter-sisal">
        <!-- <img class="img-responsive center-block" src="images/about-07.png" alt=""> -->
      </div>
      <hr class="divider offset-lg-top-54" />
      <h5>Our Advisory</h5>
      <div class="range text-md-left offset-top-54">
        <div class="cell-md-preffix-1 cell-xl-9 cell-md-10">
          <div class="range">
            <div class="cell-md-12 cell-sm-6">
              <!-- <div class="inset-lg-right-14p"> -->
              <div class="">
                <h6>Smt. Maneka Gandhi</h6>
                <p class="small">
                  Maneka Gandhi is the founder of People for Animals and is
                  currently the chairperson of this organization. Whilst serving
                  India as a political member of the Bharatiya Janata Party
                  (BJP), Maneka Gandhi founded India’s largest organization for
                  animal rights and welfare, People for Animals. Following the
                  foundation of this organization, Maneka Gandhi was similarly
                  appointed chairperson of the Committee for the Purpose and
                  Control and Supervision of Experiments on Animals (CPCSEA) in
                  1995. Throughout her time as an animal rights activist, Maneka
                  Gandhi has been involved in investigating laboratories where
                  animal testing was being carried out, has filed for Animal
                  Birth Control programs (ABCs) in order to limit the number of
                  homeless dogs that were killed as a result of overpopulation
                  and has also been involved in initiatives planned by the
                  organization International Animal Rescue. Maneka Gandhi is our
                  inspiration and advises us on all aspects of animal welfare
                </p>
              </div>
            </div>
            <div class="cell-md-12 cell-sm-6 offset-top-40 offset-sm-top-0">
              <div class="">
                <h6>Anand Siva</h6>
                <p class="small">
                  Anand Siva is an advertising professional and passionate
                  animal activist who has started several innovative initiatives
                  such as PACE that works for the welfare of animals,
                  environment and the planet. He is our go-to person for all
                  things big and small in animal welfare.
                </p>
              </div>
            </div>

            <div class="cell-md-12 cell-sm-6 offset-top-40 offset-sm-top-0">
              <div class="">
                <h6>Roger Newman</h6>
                <p class="small">
                  Roger Newman has worked in and around the world of fundraising
                  for over 20 years. His CV includes face-to-face fundraising,
                  raffle fundraising, fundraising for national campaigns, local
                  fundraising for amateur sports clubs, grant bids and online
                  fundraising. He has also worked with several Grant Giving
                  Organizations and securing funds for community-driven
                  projects. He is currently helping us leverage social media for
                  fundraising.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="shell shell-wide inset-left-0 inset-right-0">
    <hr class="divider-full" />
  </div>
</main>
<%-include("partials/footer.ejs")-%>
