<%-include("partials/header.ejs")-%>
<main class="page-content">
  <section
    class="section-bottom-80 section-title section-title-right"
    data-title="dogs for sale"
  >
    <div class="shell shell-wide section-65 section-lg-bottom-122 bg-mocos">
      <div class="page-counter page-counter-bottom-6 page-counter-sisal">
        <!-- <img class="img-responsive center-block" src="images/about-07.png" alt=""> -->
      </div>
      <hr class="divider offset-lg-top-54" />
      <h5>NFT Name</h5>
      <div class="range text-md-left offset-top-54">
        <div class="cell-md-preffix-1 cell-xl-9 cell-md-10">
          <div class="range">
            <div class="cell-md-12 cell-sm-6">
              <!-- <div class="inset-lg-right-14p"> -->
              <div class="">
                <img
                    class="img-responsive"
                    width="520"
                    height="391"
                    style="margin: auto; margin-bottom: 2%;margin-top: 5%;"
                    src="images/feeding 3.jpg"
                    alt=""
                  />
                <h6 style="color: #313131;">Story</h6>
                <!-- <p class="small text-bold">Story: </p> -->
                <p class="small" >
                  
                  Food is a basic right for humans and non-humans alike. The
                  urban ecosystem in which street dogs supposedly thrive is a
                  myth. Scavenging for food in garbage and drinking water from
                  drains should not be normalized because it subjects these
                  animals to disease and prolonged ailments that go untreated
                  leading to a life of suffering on the streets and slow,
                  painful death after which they are either left to rot or
                  discarded in landfills. We have a duty to ensure their welfare
                  and protection. Feeding stray dogs has been declared an
                  essential service by the Animal Welfare Board of India as it
                  has a direct bearing on sterilization drives. Feeders or
                  colony caretakers make it easier for street dogs to get
                  vaccinated and sterilized without undergoing any stress.
                  Wardha Dog Rescue shall set up a food bank with the aid of the
                  local community, religious institutions, pet companies,
                  restaurants, and other relevant resources to feed 10,000 dogs
                  in Wardha District through a network of feeders and colony
                  caretakers. We also aim to provide aid to pet owners who don’t
                  have the wherewithal to look after them thereby leading to
                  abandonment which further fuels stray dog population. We
                  currently feed street dogs in Sawangi within a 2 km range of
                  our shelter in Gajanan Nagri.
                </p>
                <h6 style="color: #313131;">Tags</h6>
                <!-- <p class="small text-bold">Story: </p> -->
                <p class="small" >jkbgqrekj </p>
              </div>
            </div>                        
            <a
        class="offset-top-20 offset-lg-top-80 btn btn-default"
        style="margin:auto"
        href="/gallery"
        >Buy NFT</a
      >
           
            
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="shell shell-wide inset-left-0 inset-right-0">
    <hr class="divider-full" />
  </div>
</main>
<%-include("partials/footer.ejs")-%>
