<%-include("partials/header.ejs")-%>
<main class="page-content">
  <section>
    <div class="shell shell-wide">
      <div class="range text-sm-left">
        <div class="cell-xl-10 cell-md-9">
          <div
            class="jumbotron"
            style="
              background: url('images/index-01.jpg') center;
              background-size: cover;
            "
          >
            <h1>
              Helping <span class="text-white"> Street</span
              ><span class="reveal-xs-block"
                ><span class="text-middle">Dogs </span
                ><span class="text-middle text-white"> Thrive</span></span
              >
            </h1>
            <!-- <a class="link link-white" href="#">dog breeder website</a> -->
          </div>
        </div>
        <div
          class="cell-md-3 cell-xl-2 cell-xs-middle offset-top-40 offset-md-top-0"
        >
          <div class="range">
            <div class="cell-md-12 cell-sm-4">
              <div class="inset-xl-left-40">
                <h4>follow us</h4>
                <ul class="list-inline offset-top-20 offset-md-top-40">
                  <li>
                    <a
                      class="icon icon-gray icon-circle icon-xs fa-facebook"
                      href="https://www.facebook.com/groups/wardhadogresq"
                    ></a>
                  </li>
                  <li>
                    <a
                      class="icon icon-gray icon-circle icon-xs fa-twitter"
                      href="#"
                    ></a>
                  </li>
                  <li>
                    <a
                      class="icon icon-gray icon-circle icon-xs fa-google-plus"
                      href="#"
                    ></a>
                  </li>
                  <li>
                    <a
                      class="icon icon-gray icon-circle icon-xs fa-instagram"
                      href="#"
                    ></a>
                  </li>
                </ul>
              </div>
            </div>
            <div
              class="cell-md-12 cell-sm-4 offset-top-40 offset-sm-top-0 offset-md-top-80"
            >
              <div class="inset-xl-left-40">
                <h4>contacts</h4>
                <div class="offset-top-20 offset-md-top-40">
                  <span
                    class="text-middle icon icon-xs text-primary inset-right-10 material-icons-phonelink_ring"
                  ></span
                  ><a class="extra-big" href="tel:#">+91 9765015633</a>
                </div>
                <div class="offset-top-10">
                  <span
                    class="text-middle icon icon-xs text-primary inset-right-10 material-icons-email"
                  ></span
                  ><a class="big" href="mailto:#">wardhadogrescue@gmail.com</a>
                </div>
              </div>
            </div>
            <div
              class="cell-md-12 cell-sm-4 offset-top-40 offset-sm-top-0 offset-md-top-80"
            >
              <div class="inset-xl-left-40">
                <h4>location</h4>
                <div class="offset-top-20 offset-md-top-40">
                  <!-- <h5 class="text-sbold text-graydark">
                      28 Jackson Blvd Ste 1020
                      Chicago
                      <br class='veil reveal-md-block'>
                      IL 60604-2340
                      
                    </h5> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <hr class="veil-md offset-top-40" />
  <section
    class="section-80 section-md-122 section-title section-title-left"
    data-title="welcome"
  >
    <div class="shell shell-wide">
      <div class="page-counter">
        <!-- 01 -->
        <!-- <img class="img-responsive center-block" src="images/index-02.png" width="441" height="557" alt=""> -->
      </div>
      <div class="range range-xs-center offset-top-0 offset-md-top-65">
        <div class="cell-md-8 cell-lg-8">
          <h3
            style="text-transform: uppercase; color: #313131; margin-bottom: 5%"
          >
            The Issue
          </h3>
          <p>
            Our inability to relate with stray dogs is our biggest obstacle to
            co-existing with them. Most people blame stray dogs for spreading
            diseases and creating nuisance instead of inappropriate garbage
            disposal, irresponsible pet owners, breeders, callous authorities,
            and countless other reasons that contribute to what is popularly
            called “stray dog menace.” This lack of understanding creates a
            negative perception of these animals that leads to the inability to
            effectively address the root causes of “stray dog menace.” Negative
            public sentiment leads to acts of cruelty against these animals and
            affects public policy. As the stray dog crisis grows at epidemic
            proportions, so does community resistance to solutions. Opposition
            against feeding of stray dogs, relocation and poisoning, and other
            acts of cruelty are often fueled by negative perceptions of stray
            dogs
          </p>
          <!-- color: #313131 -->
          <ul style="text-align: left">
            <li style="list-style-type: circle">
              Life on the street is harsh for street dogs. They are vulnerable
              to viral diseases such as parvo and canine distemper that lead to
              a spate of deaths every year with no dedicated viral disease
              treatment center or disease control cell to effectively tackle the
              same in Wardha District. There is no plan of action by either the
              Municipality or Panchayat to tackle this either.
            </li>
            <li style="list-style-type: circle">
              Unchecked stray dog population and lack of empathy for pregnant
              dogs that are either relocated or poisoned. Animal Birth Control
              Program is non-existent in Wardha District or done in spurts by
              local NGOs.
            </li>
            <li style="list-style-type: circle">
              Striking rise in road accidents involving stray dogs and no
              provision to safely dispose of the carcass that is left to rot in
              the open. This could result in the spread of infections and
              diseases towards other animals and even humans.
            </li>
            <li style="list-style-type: circle">
              Illegal breeding and pet shops.
            </li>
            <li style="list-style-type: circle">
              Lack of adequate veterinary care facility. Even basic test kits
              are not available. Wardha Government Veterinary Hospital is
              severely inadequate to treat complicated cases and does not have
              24/7 emergency service for animals.
            </li>
            <li style="list-style-type: circle">
              General lack of awareness of the rights of street dogs among the
              public, local authorities and the police.
            </li>
            <li style="list-style-type: circle">
              There is no dedicated sanctuary for old, injured, and
              differently-abled street dogs.
            </li>
          </ul>

          <!-- <a class="btn btn-default" href="#">Objectives and Strategy</a> -->
        </div>
      </div>
    </div>
  </section>
  <section>
    <!-- <div class="shell shell-wide section-92 section-lg-bottom-148 bg-img-01"> -->
    <div class="shell shell-wide section-92 section-lg-bottom-148 bg-img-02">
      <hr class="divider" />
      <h4>Objectives and Strategy</h4>
      <div
        class="range range-xs-center text-left offset-top-40 offset-lg-top-80"
      >
        <div class="cell-sm-11 cell-md-10">
          <dl class="list-terms-variant-1">
            <dt>
              <span>Create infrastructure for street dogs in rural India </span>
            </dt>
            <dd>
              Upgrade local facilities and build more facilities for street dog
              rescue and rehabilitation such as eco sanctuaries, ambulances,
              mobile clinics, food and medicine banks, and helplines.
            </dd>
          </dl>
          <dl class="list-terms-variant-1">
            <dt><span>Public Awareness and Education</span></dt>
            <dd>
              -Door-to-door campaigns to inform the public about the rights of
              street dogs. -Conduct workshops in schools and colleges -Write to
              government officials - Conduct workshops on street dog cruelty
              cases with the police -Develop and disseminate educational content
              through print and social media -Enhance awareness on street dogs
              through arts and storytelling
            </dd>
          </dl>
          <dl class="list-terms-variant-1">
            <dt><span>Fostering and Adoption </span></dt>
            <dd>
              Initiate a robust fostering and adoption program for rehoming
              street dogs
            </dd>
          </dl>
          <dl class="list-terms-variant-1">
            <dt><span>Animal Birth Control </span></dt>
            <dd>
              Establish animal birth control program through collaborations with
              local communities, government bodies and NGOs to reduce street dog
              population
            </dd>
          </dl>
          <dl class="list-terms-variant-1">
            <dt><span>Conflict resolution and legal aid </span></dt>
            <dd>
              Take up dog cruelty cases and provide protection to colony
              caretakers
            </dd>
          </dl>
          <dl class="list-terms-variant-1">
            <dt><span>Influence policy change </span></dt>
            <dd>
              Act as a pressure group to bring about street dog-friendly
              legislation.
            </dd>
          </dl>
          <dl class="list-terms-variant-1">
            <dt><span>Create dog-friendly communities </span></dt>
            <dd>
              Collaborate with RWAs, public/private institutions and religious
              institutions to provide food, shelter and medical aid to street
              dogs
            </dd>
          </dl>
          <dl class="list-terms-variant-1">
            <dt><span>Street Dog Welfare Fund </span></dt>
            <dd>
              – Set up income streams to fund street dog welfare <br />
              Event fundraising and crowdfunding,CSR,Other avenues <br />
            </dd>
          </dl>
          <dl class="list-terms-variant-1">
            <dt>
              <span
                >Establish a network of independent activists in Vidarbha
              </span>
            </dt>
            <dd>
              – Foster active citizenship and empower regular people to become
              effective change agents in their localities Wardha Dog Rescue,
              located in Maharashtra in Western India was started in 2017 to
              address the issue of street dogs not just from a public health
              perspective but through the lens of animal welfare that aims to
              challenge the stigma associated with street dogs and ensure that
              their well-being and interests are also protected thereby enabling
              them to flourish and co-exist with us in positive ways. We believe
              that awareness combined with education leads to action. Wardha Dog
              Rescue is dedicated to connecting people with street dogs through
              education and providing context for one of society’s most
              troubling and misunderstood issues by educating the general public
              on the pain and hardship these animals face on the streets. We aim
              to give a voice to the dogs living on the streets by telling their
              stories through our story blog Children of a Lesser Dog, and
              leveraging the media, both print and social, to educate
              communities about the systemic issues that contribute to the
              problem of “stray dog menace,” such as garbage, indiscriminate
              breeding, and irresponsible pet ownership. We also aim to develop
              educational content that appeals to the hearts and minds of
              concerned citizens and helps them see these animals in a more
              positive light thereby enabling more compassionate communities
              that exist peacefully with stray dogs.
            </dd>
          </dl>
        </div>
      </div>
    </div>
  </section>
  <hr class="veil-md offset-top-40" />
  <section
    class="section-80 section-md-122 section-title section-title-right"
    data-title="dogs for sale"
  >
    <div class="shell shell-wide">
      <div class="page-counter page-counter-bottom page-counter-gray">
        <!-- <img class="img-responsive center-block" src="images/index-04.png" width="441" height="377" alt=""> -->
      </div>
      <div class="range range-xs-center offset-top-0 offset-md-top-65">
        <div class="cell-md-8 cell-lg-6">
          <h4>NFTs of Dog</h4>
          <p>
            Choosing between a male and a female is not an easy task, as both
            make wonderful companions. Differences in personality are mostly
            attributable to the fact that everyone has something unique about
            them, rather than to male vs. female differences.
          </p>
        </div>
      </div>
      <!-- Owl Carousel-->
      <div
        class="owl-carousel offset-top-40 offset-lg-top-96 owl-dots-modile"
        data-dots="true"
        data-items="1"
        data-sm-items="2"
        data-md-items="3"
        data-margin="30"
        data-lg-margin="84"
        data-mouse-drag="false"
      >
        <div class="thumbnail">
          <img
            class="img-responsive"
            src="https://img.seadn.io/files/b6f594010c5495fa1322009ee8e3e26f.png?fit=max&w=600"
            width="480"
            height="321"
            alt=""
          />
          <div class="caption">
            <h4 class="text-uppercase">Name: Tommy</h4>
            <p class="small text-bold">
              Details: the largest street dog adoption platform, e-comm store of
              ethically sourced dog products, and a subscription-based career
              intelligence community with experts in animal welfare
            </p>

            <!-- <p class="text-graylight small text-bold text-uppercase">Delivery possible</p> -->
            <a class="caption-link btn btn-default" href="#">Buy</a>
          </div>
        </div>
        <div class="thumbnail">
          <img
            class="img-responsive"
            src="https://img.seadn.io/files/b6f594010c5495fa1322009ee8e3e26f.png?fit=max&w=600"
            width="480"
            height="321"
            alt=""
          />
          <div class="caption">
            <h4 class="text-uppercase">Name: Tommy</h4>
            <p class="small text-bold">
              Details: the largest street dog adoption platform, e-comm store of
              ethically sourced dog products, and a subscription-based career
              intelligence community with experts in animal welfare
            </p>

            <!-- <p class="text-graylight small text-bold text-uppercase">Delivery possible</p> -->
            <a class="caption-link btn btn-default" href="#">Buy</a>
          </div>
        </div>
        <div class="thumbnail">
          <img
            class="img-responsive"
            src="https://img.seadn.io/files/b6f594010c5495fa1322009ee8e3e26f.png?fit=max&w=600"
            width="480"
            height="321"
            alt=""
          />
          <div class="caption">
            <h4 class="text-uppercase">Name: Tommy</h4>
            <p class="small text-bold">
              Details: the largest street dog adoption platform, e-comm store of
              ethically sourced dog products, and a subscription-based career
              intelligence community with experts in animal welfare
            </p>

            <!-- <p class="text-graylight small text-bold text-uppercase">Delivery possible</p> -->
            <a class="caption-link btn btn-default" href="#">Buy</a>
          </div>
        </div>
        <!-- <a href="gallery.html"></a> -->
      </div>
      <a
        class="offset-top-20 offset-lg-top-80 btn btn-default"
        href="gallery.html"
        >View all NFTS for sale</a
      >
    </div>
  </section>
  <section></section>
  <section
    class="section-bottom-80 section-title section-title-right"
    data-title="dogs for sale"
  >
    <div class="shell shell-wide section-65 section-lg-bottom-122 bg-mocos">
      <div class="page-counter page-counter-bottom-6 page-counter-sisal">
        <!-- <img class="img-responsive center-block" src="images/about-07.png" alt=""> -->
      </div>

      <hr class="divider offset-lg-top-54" />
      <h5>Video</h5>
      <div class="range text-md-left offset-top-54">
        <div class="cell-md-preffix-1 cell-xl-9 cell-md-10">
          <div class="range" style="margin-left: 20%">
            <!-- <div class="row justify-content-center" style="background-color: rgb(0,0,0,0.80);margin:1% 2.5%;"> -->
            <div
              class="embed-responsive embed-responsive-16by9 col-md-8 col-sm-8"
              style="height: 50%; margin: 1% 2.5%"
            >
              <iframe
                class="embed-responsive-item"
                src="https://www.youtube.com/embed/rtTI1rh9U5M"
                allowfullscreen
              ></iframe>
            </div>
            <!-- </div> -->
            <!-- </div> -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <section
    class="section-bottom-80 section-title section-title-right"
    data-title="dogs for sale"
  >
    <div class="shell shell-wide section-65 section-lg-bottom-122 bg-mocos">
      <div class="page-counter page-counter-bottom-6 page-counter-sisal">
        <!-- <img class="img-responsive center-block" src="images/about-07.png" alt=""> -->
      </div>
      <!-- <div class="row justify-content-center" style="background-color: rgb(0,0,0,0.80);margin:1% 2.5%;">
        <div class="embed-responsive embed-responsive-16by9 col-md-8 col-sm-8" style="height:50%;margin:1% 2.5%;">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/rtTI1rh9U5M" allowfullscreen></iframe>
        </div></div> -->
      <hr class="divider offset-lg-top-54" />
      <h5>Blog</h5>
      <div class="range text-md-left offset-top-54">
        <div class="cell-md-preffix-1 cell-xl-9 cell-md-10">
          <div class="range">
            <div class="cell-md-12 cell-sm-6 offset-top-40 offset-sm-top-0">
              <div class="">
                <h6>Children of a Lesser Dog</h6>
                <a href="https://www.facebook.com/childrenofalesserdog"
                  ><p class="small">
                    https://www.facebook.com/childrenofalesserdog
                  </p></a
                >
              </div>
            </div>

            <div class="cell-md-12 cell-sm-6 offset-top-40 offset-sm-top-0">
              <div class="">
                <h6>Children of a Lesser Dog</h6>
                <a href="https://www.instagram.com/children0falesserd0g/"
                  ><p class="small">
                    https://www.instagram.com/children0falesserd0g/
                  </p></a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<%-include("partials/footer.ejs")-%>
