<%-include("partials/header.ejs")-%>
<main class="page-content">
  <section
    class="section-bottom-80 section-title section-title-right"
    data-title="dogs for sale"
  >
    <div class="shell shell-wide section-65 section-lg-bottom-122 bg-mocos">
      <div class="page-counter page-counter-bottom-6 page-counter-sisal">
        <!-- <img class="img-responsive center-block" src="images/about-07.png" alt=""> -->
      </div>
      <hr class="divider offset-lg-top-54" />
      <h5>Initiatives</h5>
      <div class="range text-md-left offset-top-54">
        <div class="cell-md-preffix-1 cell-xl-9 cell-md-10">
          <div class="range">
            <div class="cell-md-12 cell-sm-6">
              <!-- <div class="inset-lg-right-14p"> -->
              <div class="">
                <h6>No Hungry Dog</h6>
                <p class="small">
                  Food is a basic right for humans and non-humans alike. The
                  urban ecosystem in which street dogs supposedly thrive is a
                  myth. Scavenging for food in garbage and drinking water from
                  drains should not be normalized because it subjects these
                  animals to disease and prolonged ailments that go untreated
                  leading to a life of suffering on the streets and slow,
                  painful death after which they are either left to rot or
                  discarded in landfills. We have a duty to ensure their welfare
                  and protection. Feeding stray dogs has been declared an
                  essential service by the Animal Welfare Board of India as it
                  has a direct bearing on sterilization drives. Feeders or
                  colony caretakers make it easier for street dogs to get
                  vaccinated and sterilized without undergoing any stress.
                  Wardha Dog Rescue shall set up a food bank with the aid of the
                  local community, religious institutions, pet companies,
                  restaurants, and other relevant resources to feed 10,000 dogs
                  in Wardha District through a network of feeders and colony
                  caretakers. We also aim to provide aid to pet owners who don’t
                  have the wherewithal to look after them thereby leading to
                  abandonment which further fuels stray dog population. We
                  currently feed street dogs in Sawangi within a 2 km range of
                  our shelter in Gajanan Nagri.
                </p>
              </div>
            </div>
            <div class="cell-md-12 cell-sm-6 offset-top-40 offset-sm-top-0">
              <div class="">
                <h6>Fostering and Adoption</h6>
                <p class="small">
                  India’s streets are home to roughly 35 million dogs, a number
                  that’s growing by leaps and bounds due to random and
                  ineffective sterilization efforts by NGOs and municipal
                  corporations. They live tough lives, scavenging for food among
                  garbage and possibly spreading diseases. While sterilization
                  might check stray dog population, it does not address the
                  myriad other issues surrounding street dogs such as chasing
                  bikes, attacking children and road accidents. Rehoming stray
                  dogs gives them a chance at a better life and has a
                  significant impact on the general welfare of these animals.
                  Stray dogs make for great animal companions, are low
                  maintenance, and equally deserving of homes as any breed.
                  Wardha Dog Rescue aims to establish a robust foster and
                  adoption program through both paid and unpaid foster networks
                  and rehoming these dogs in farms, homes and institutional
                  settings where these animals provide therapeutic benefits with
                  appropriate regulations in place. We also aim to leverage
                  media, both print and social, for rehoming strays. So far, we
                  have established a small network of foster families and farms
                  and have successfully rehomed several street dogs.
                </p>
              </div>
            </div>
            <div class="cell-md-12 cell-sm-6 offset-top-40 offset-md-top-0">
              <div class="">
                <h6>Vaccination Drive</h6>
                <p class="small">
                  Street dogs are susceptible to a host of viral diseases such
                  as canine distemper, rabies, parvo, and others. Canine viral
                  diseases are among the top causes of death of street dogs
                  leaving a trail of disaster in its wake and wiping out dog
                  population in numbers. Wardha Dog Rescue started monthly
                  vaccination drives in February 2022 and has competed two
                  drives with the help of Sparsh and Ahimsa Trust. Vaccinations
                  are done lane by lane with the help of local vets and
                  volunteers. Our vaccination drive is ongoing through the year
                  and we aspire to do it weekly to achieve immunization of 80%
                  of street dogs in Sawangi by the year 2023.
                </p>
              </div>
            </div>
            <div class="cell-md-12 cell-sm-6 offset-top-40">
              <div class="">
                <h6>Sterilizations</h6>
                <p class="small">
                  There are roughly 10,000 dogs in Wardha of which 5,000 reside
                  in Wardha City. Unchecked population of stray dogs leads to
                  myriad problems such as territorial fights, incidents of
                  attack, noise pollution, spread of disease, risk of rabies,
                  among other things that can be effectively tackled through
                  sterilization. Wardha Dog Rescue aims to facilitate mass
                  sterilizations in partnership with PFA Wardha, other relevant
                  authorities and the local community. We have already initiated
                  talks with Wardha Municipal Corporation, RWAs and institutions
                  such as DMIMS for mass sterilization and have started
                  conducting public awareness drives regarding the same. We
                  believe no ABC program can be successful without data, lack of
                  community engagement, and a robust rehoming program in place.
                  Given the reported effectiveness of well-managed ABC programs,
                  and the lack of other acceptable methods for managing stray
                  dogs at a large scale, it is recommended that ABC be
                  facilitated on a war footing in Wardha District at the
                  earliest. We have successfully facilitated sterilization for
                  hundreds of dogs in collaboration with PFA Wardha and the
                  local community.
                </p>
              </div>
            </div>
            <div class="cell-md-12 cell-sm-6 offset-top-40">
              <div class="">
                <h6>On-site treatment</h6>
                <p class="small">
                  There is an urgent need for 24/7 ambulance service and trained
                  paramedic team to tackle minor ailments in street dogs such as
                  wounds and skin infections, as well as medical emergencies
                  such as accidents, poisoning, and life-threatening medical
                  conditions that have a very short window of time to save
                  lives. There are little to no visiting vets in Wardha district
                  and trained assistants who rise to the call of duty when the
                  situation demands it. Moreover, there is a general tendency
                  among the local residents to dump street animals in shelters
                  that are already stretched for resources. Most of these dogs
                  can be treated on-site within their territories without the
                  stress of relocation during treatment with a little help from
                  the local residents. We also have plans to initiate to free
                  health camps and vaccination drives in nearby villages and
                  farms that have no access to medical assistance for these
                  animals. As part of this initiative, we also aim to establish
                  a medicine bank to collect surplus drugs and medical supplies
                  from pharma firms, whole sale drug suppliers, and other
                  relevant sources for street dogs in need. So far, we have
                  treated over 300 dogs both in our shelter and in Sawangi
                </p>
              </div>
            </div>
            <div class="cell-md-12 cell-sm-6 offset-top-40">
              <div class="">
                <h6>Public Awareness and Education</h6>
                <p class="small">
                  Wardha Dog Rescue shall start door-to-door awareness campaigns
                  to educate the public about stray dog behaviours, their
                  rights, and the benefits of ABC program. Wardha Dog Rescue
                  shall develop a program to facilitate and promote education
                  concerning stray dogs and Animal Birth Control programs
                  throughout Wardha District. The program shall include Animal
                  Birth Control methods as well as information on caring for
                  stray dogs with a specific focus on how to become responsible
                  colony caretakers. Wardha Dog Rescue shall work with PFA
                  Wardha to develop and distribute educational information with
                  a focus on animal welfare and civic education and plan events
                  to promote the public education program. The program shall
                  include information on how the benefits of stray dog
                  population control. We believe awareness has to be raised not
                  just among the public but also local authorities, RWAs,
                  institutional heads, the police, and others on multiple issues
                  such as illegal breeding, inappropriate garbage disposal,
                  animal protection laws, street dog rights, vaccination drives,
                  benefits of ABC program and adopting strays, road safety and
                  animals, and the general health and welfare of street dogs. We
                  shall also disseminate street dog related news and resource
                  through our blog Children of a Lesser Dog. Our door-to-door
                  campaign in Sawangi successfully led to stopping poisoning and
                  relocation of street dogs.
                </p>
              </div>
            </div>
            <div class="cell-md-12 cell-sm-6 offset-top-40">
              <div class="">
                <h6>Conflict resolution and legal aid</h6>
                <p class="small">
                  Colony Caretaker means any individual who undertakes to
                  provide care for a stray dogs in their locality and is
                  registered with the AWBI. Any individual may become a Colony
                  Caretaker if they register with AWBI and comply with the below
                  provisions. 1. A Caretaker must comply with the AWBI
                  guidelines. 2. A Caretaker shall take all reasonable steps to
                  ensure that the colony population is altered and vaccinated.
                  3. A Caretaker shall take all reasonable steps to provide the
                  community dogs with food, water, and shelter. 4. A Caretaker
                  shall keep reasonable records regarding the size and location
                  of the community dogs in their locality to enable data-driven
                  ABC programs. This would also aid any underlying medical
                  conditions of dogs in a particular locality and ensure they
                  are fit for surgery. 5. A Caretaker shall take all reasonable
                  steps to provide medical attention to any dog in the community
                  that requires it. We investigated perceived support and
                  opposition to ABC experienced by colony caretakers involved in
                  feeding and sterilizations, as individuals or through
                  organizations. ABC was initiated by PFA Wardha to reduce dog
                  numbers, as a humane way to manage community dogs and to
                  improve dog welfare. Perceived attitudes of local authorities
                  and residents were polarized, with some supporting it and
                  others antagonistic and threatening legal action or otherwise.
                  Respondents generally managed the community dogs themselves or
                  with assistance from friends or family. Some respondents
                  received cash or food donations by well-wishers. Complaints
                  were most common from neighbors. Resolution was attempted with
                  varying success, by face-to-meetings with complainants,
                  dialogue, or rehoming dogs. Supportive stakeholders had
                  similar motives to the respondents for supporting ABC, namely
                  to reduce dog populations and improve dog welfare. These
                  findings are important because they demonstrate the difficulty
                  faced by colony caretakers and organizations undertaking ABC
                  in Wardha District and enable appropriate legal/non-legal
                  interventions for the protection of stray dogs and their
                  caretakers. Wardha Dog Rescue also takes up animal cruelty
                  cases and has been instrumental in stopping relocation and
                  poisoning of dogs in Sawangi in 2020.
                </p>
              </div>
            </div>
            <div class="cell-md-12 cell-sm-6 offset-top-40">
              <div class="">
                <h6>Sanctuary</h6>
                <p class="small">
                  Wardha Dog Rescue aims to build self-sustaining eco
                  sanctuaries in all eight tehsils of Wardha District for
                  homeless stray dogs that are old or have special needs and
                  cannot continue on the streets. We’d like to redefine dog
                  shelters by providing a cage-free environment with a focus on
                  enrichment, excellent nursing care, and customized nutritional
                  needs to facilitate the best quality of life for these
                  animals. Our aim is to challenge the perception many people
                  hold towards animal shelters and rescue dogs and revolutionize
                  the way dog rescues operate. Rescue dogs make great animal
                  companions provided they are given the chance and the
                  environment to thrive in. Most shelters in India are stretched
                  for space and resources and at best serve to pick these
                  animals off the streets and dump them together in dingy
                  facilities or chain link enclosures. This can lead to stress
                  in these dogs from a life in captivity which in turn leads to
                  behavioral problems. Unlike typical rescue kennels, which are
                  noisy, stinky, stressful places that are not conducive to a
                  happy experience, Wardha Dog Rescue provides a home
                  environment which gives the dogs the space and time they need
                  to adapt to life away from the streets in a place they can
                  truly call their home. We currently run a sanctuary in Sawangi
                  that has over 80 rescued dogs.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="shell shell-wide inset-left-0 inset-right-0">
    <hr class="divider-full" />
  </div>
</main>
<%-include("partials/footer.ejs")-%>
