<%-include("partials/header.ejs")-%>
<main class="page-content">
  <section
    class="section-bottom-80 section-title section-title-right"
    data-title="dogs for sale"
  >
    <div class="shell shell-wide section-65 section-lg-bottom-122 bg-mocos">
      <div class="page-counter page-counter-bottom-6 page-counter-sisal">
        <!-- <img class="img-responsive center-block" src="images/about-07.png" alt=""> -->
      </div>
      <hr class="divider offset-lg-top-54" />
      <h5>Initiatives</h5>
      <div class="range text-md-left offset-top-54">
        <div class="cell-md-preffix-1 cell-xl-9 cell-md-10">
          <div class="range">
            <% for(var i=0;i< initiatives.length;i++){ %>
            <div class="cell-md-12 cell-sm-6 offset-top-40 offset-sm-top-0">
              <div class="">
                <h6><%= initiatives[i].heading %></h6>
                <p class="small"><%= initiatives[i].content %></p>
              </div>
            </div>

            <% } %>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="shell shell-wide inset-left-0 inset-right-0">
    <hr class="divider-full" />
  </div>
</main>
<%-include("partials/footer.ejs")-%>
